{% extends 'base.html' %}
{% load static %}
{% block title %}
AddCustomer
{% endblock %}
{% block content %}
           
<div class="inner-content">

    <div class="d-flex justify-content-between mb-4 align-items-center">
        <h4 class="m-0 Dashboard_H">
            <i class="bi bi-people-fill"></i> Add New Customer
        </h4>
    </div>

    <form method="post" class="box bg-white p-4 rounded-3 shadow">
        {% csrf_token %}

        <h6 class="text-primary mb-3">Customer Information</h6>

        <div class="row g-3">

            
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" name="Name" class="form-control" id="customerName" placeholder="Customer Name" required>
                    <label class="form-label mb-1 text-secondary">Customer Name *</label>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" name="Code" class="form-control" id="customerCode" placeholder="Customer Code">
                    <label class="form-label mb-1 text-secondary">Customer Code</label>
                </div>
            </div>

           
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" name="Email" class="form-control" id="email" placeholder="Email">
                    <label class="form-label mb-1 text-secondary">Email Address</label>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="tel" name="Mobile" class="form-control" id="mobile" placeholder="Mobile Number">
                    <label class="form-label mb-1 text-secondary">Mobile Number *</label>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" name="GST" class="form-control" id="gst" placeholder="GST Number">
                    <label class="form-label mb-1 text-secondary">GST Number</label>
                </div>
            </div>

            
            {% comment %} <div class="col-md-6">
                <div class="form-floating">
                    <select class="form-select" id="status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <label class="form-label mb-1 text-secondary">Status</label>
                </div>
            </div> {% endcomment %}

            
            <div class="col-md-12">
                <div class="form-floating">
                    <textarea class="form-control" name="Address" id="address" placeholder="Address" style="height:100px;"></textarea>
                    <label class="form-label mb-1 text-secondary">Address</label>
                </div>
            </div>

        </div>

        <div class="text-end mt-4">
            <button class="btn btn-theme px-4" type="submit">
                <i class="bi bi-save"></i> Save Customer
            </button>

            <a href="{% url 'customers' %}" class="btn btn-secondary px-4">
                Cancel
            </a>
        </div>

    </form>





  
      <!-----Delete Modal------->

    <div class="modal fade" id="delete">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Record</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <h4 class="text-secondary mb-3">Are you sure <br> you want to <span class="text-danger fw-bold">Delete</span> this record ?</h4>
                    <div class="">
                    <button class="btn btn-success btn-sm">Yes,Confirm</button>
                    <button class="btn btn-danger btn-sm" data-bs-dismiss="modal">No,Cancel</button>
                </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'JS\bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'JS\jquery-4.0.0.min.js' %}"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

   
    <script>
        $(document).ready(function(){
            $('#toggle-btn').click(function(){
                //alert('Hi')
                $('.sidebar').toggleClass('full')
            })
        })
    </script>
{% endblock %}
</body>
</html>