{% extends 'base.html' %}
{% load static %}
{% block title %}
Editcategory
{% endblock %}
{% block content %}

<div class="inner-content">

            <div class="d-flex justify-content-between mb-3 align-items-center">
                    <h4 class="m-0 Dashboard_H">Edit Category</h4>
                    
            </div>


                <div class="box bg-white p-3 rounded-3 shadow">
                    <form method="post" enctype="multipart/form-data" class="row row-gap-3">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ category_id }}">
                        <div class="col-md-6">
                            <label class="form-label mb-1 text-secondary">Category Name</label>
                            <input type="text" name="name" class="form-control" value="{{category.catName}}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label mb-1 text-secondary">Category Image</label>
                            <input type="file" name="Image" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label mb-1 text-secondary">Category Description</label>
                            <textarea class="form-control" name="description" rows="3">{{category.catDescription}}</textarea>

                        </div>

                        
                    <div class="col-md-6">
                        <label class="form-label mb-1 text-secondary">Status</label>
                        <div class="form-switch">
                            <input type="checkbox" class="form-check-input" name="Status"
                            {% if category.catStatus %}checked{% endif %}>
                            Active / Deactivate
                        </div>
                    </div>
                        <div class="col-md-12 mt-4 text-end">
                            <button type="submit" class="btn btn-theme">Save</button>
                            <a href="{% url 'categories' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>        
			
</div>

  
      <!-----Delete Modal------->

    <div class="modal fade" id="delete">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Record</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <h4 class="text-secondary mb-3">Are you sure <br> you want to <span class="text-danger fw-bold">Delete</span> this record ?</h4>
                    <div class="">
                    <button class="btn btn-success btn-sm">Yes,Confirm</button>
                    <button class="btn btn-danger btn-sm" data-bs-dismiss="modal">No,Cancel</button>
                </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'JS\bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'JS\jquery-4.0.0.min.js' %}"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

   
    <script>
        $(document).ready(function(){
            $('#toggle-btn').click(function(){
                //alert('Hi')
                $('.sidebar').toggleClass('full')
            })
        })
    </script>
{% endblock %}
</body>
</html>