{% extends 'base.html' %}
{% load static %}
{% block title %}
Purchase
{% endblock %}
{% block content %}

<div class="inner-content">

                    <div class="d-flex justify-content-between mb-3 align-items-center">
                    <h4 class="m-0 Dashboard_H">
                    <i class="bi bi-cart-check"></i> Purchase Management
                    </h4>
                    {% if request.session.user_role == 'Admin' or 'add_purchase' in request.session.user_permissions %}
                    <a href="{% url 'add_purchase' %}" class="btn btn-theme">Add New Purchase</a>
                    {% endif %}
                   </div>
			

            

                <div class="row">
                    <div class="col-md-12">
                        <div class="box bg-white p-3 rounded-3 shadow mb-4">
                        
                        
                    <table class="table table-hover table-list">
                        <tr>
                            <th>No</th>
                            <th>Invoice No</th>
                            <th>Purchase Date</th>
                            <th>Supplier</th>
                            <th>Products</th>
                            <th>Subtotal</th>
                            <th>Tax</th>
                            <th>Grand Total</th>
                            <th>Status</th>
                            <th>Action</th>
                            
                        </tr>
                        {% for purchase in purchases %}
                        <tr>
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ purchase.purchaseInvoiceNo }}</td>
                                    <td>{{ purchase.purchaseDate }}</td>
                                    <td>{{ purchase.purchaseSupplier }}</td>
                                    <td>{{ purchase.purchaseProduct.prodName }}</td>
                                    <td>{{ purchase.purchaseTotalAmount }}</td>
                                    <td>₹50</td>
                                    <td>₹1,050</td>
                                    <td><span class="badge bg-success">Received</span></td>
                                    <td>
                                        <div class="d-flex gap-1">
                                        {% if request.session.user_role == 'Admin' or 'edit_purchase' in request.session.user_permissions %}
                                        <a href="{% url 'edit_purchase' purchase.id %}" class="btn btn-sm btn-outline-success"><i class="bi bi-pencil"></i></a>
                                        {% endif %}

                                        {% if request.session.user_role == 'Admin' or 'delete_purchase' in request.session.user_permissions %}
                                        <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-purchase-id="{{ purchase.id }}" data-bs-target="#delete"><i class="bi bi-trash"></i></button>
                                        {% endif %}
                                        </div>
                                    </td>
                                    </tr>

                        {% endfor %}          
         
                    </table>
                </div>
                    </div>
            </div>
  
      <!-----Delete Modal------->

    <div class="modal fade" id="delete">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Record</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <h4 class="text-secondary mb-3">Are you sure <br> you want to <span class="text-danger fw-bold">Delete</span> this record ?</h4>
                    <div class="">
                    <a href="#" class="btn btn-success btn-sm">Yes,Confirm</a>
                    <button class="btn btn-danger btn-sm" data-bs-dismiss="modal">No,Cancel</button>
                </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

    <script src="{% static 'JS\bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'JS\jquery-4.0.0.min.js' %}"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

{% block extra_js %}  
    <script>
        $(document).ready(function(){
            $('#toggle-btn').click(function(){
                //alert('Hi')
                $('.sidebar').toggleClass('full')
            })
        })
    </script>

    <script>
        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var purchaseId = button.data('purchase-id') // Extract info from data-* attributes
            var modal = $(this)
            modal.find('.btn-success').attr('href', '/delete_purchase/' + purchaseId + '/') // Set the href for the confirm button
        })
    </script>
{% endblock %}
</body>
</html>